html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Cairo', sans-serif;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color:black ;
}

/* Header Style */


.container {
    width: 70%;
    margin: 0 auto;
}

.main {
    width: 100%;
}

.header {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0 auto;
    
}

/* Start Of Nav */

nav {
    width: 100%;
    height: 70px;
    margin: 0;
    box-shadow: 0px 6px 5px -2px rgba(0,0,0,0.13);
    -webkit-box-shadow: 0px 6px 5px -2px rgba(0,0,0,0.13);
    -moz-box-shadow: 0px 6px 5px -2px rgba(0,0,0,0.13);
    position: relative;
}

@media only screen and (max-width: 1200px) { 
    nav .container {
       width: 100%;
    }
    
}


.header {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0;
    height: 70px;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
    height: 70px;
    
}



.links a {
  height: 70px;
  padding: 15px 20px;
    font-weight:400 ;
    font-size: 22px;
    position: relative;  
    
}


 a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 6px;
    background-color: #299AF3;
    top: 0;
    left: -330%;
    transition: .5s;  
}
.links a:hover{
    color: #299AF3;
    background-color: #fafafa;

}
.links a:hover::before {
left: 0;
}
.logo {
    font-size: 28px;
    font-weight: 700;
    color:#299AF3 ;
    cursor: pointer;
}

/* Nav Media Queries */
@media only screen and (max-width: 1200px) { 
    nav .container {
       width: 100%;
    }
    
}

@media only screen and (max-width: 732px) { 
    nav .container {
        width: 90%;
     }
    .links a {
        height: 70px;
        padding: 0 10px;
        font-weight: 400;
        font-size: 13px;
        position: relative;
    }
    a::before {
        display: none;
    }

    .logo {
        font-size: 23px;
        font-weight: 700;
        color:#299AF3 ;
        cursor: pointer;
    }

    .links a:hover{
        color: #299AF3;
        background-color: white;
}
}

/* Start of Popup */

.popup {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0 auto;
    background-color: #fafafa;
    flex-direction: row;
    border-top: 1px solid #6866662a;
    border-bottom: #299AF3 2px solid;
    visibility: hidden;
    transition: .3s;
    z-index: 1;
    position: absolute;
    transform: translateX(20%);
    -webkit-box-shadow: 0px 17px 35px 2px rgba(0,0,0,0.39);
    -moz-box-shadow: 0px 17px 35px 2px rgba(0,0,0,0.39);
    box-shadow: 0px 17px 35px 2px rgba(0,0,0,0.39);
    width:70%
}

.popup-image {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 10px;
}
.popup-image img {
    width: 100%;
    height: 80%;
}

.popup-links {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-content: flex-start;
    align-items: flex-start;
    width: 50%;
    height: 100%;
}

.popup-links ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    align-content: center;
    height: 100%;
    width: 100%;
    gap: 25px;
    padding-left: 25px;
    
}
.popup-links li {
    border-bottom: #6866662a solid 1px;
    width: 100%;
}



.popup-links a {
    font-size: 18px;
    margin-left: 10px;
    color: #299AF3;
    font-weight: 700;
    width: 100%;
    
}

.popup-links i {
    color: #299AF3;
   
}


@media only screen and (max-width: 1200px) { 
    .popup .container {
        width: 100%;
    }
}
    


@media only screen and (max-width: 732px) {
    .popup  {
        width: 100%;
        transform: translateX(0%);
        min-height: 73%;
    }
    .popup-links{
        width: 100%;
    }

    .popup-links ul:nth-of-type(1) {
       margin: 0;
       height: 50%;
       width: 100%;
       padding: 0;
       border: none;
    }
    .popup-links ul:nth-of-type(2) {
        margin: 0;
        height: 50%;
        width: 100%;
        padding: 0;
        margin-top: -3.7px;
        border: none;
    }

    .popup-links li {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        border-bottom: 1px solid #6866662a;
        padding-left: 25px;
        margin: 0;
        /* height: calc((100% - 50px) / 10); */
    }

    .popup-links ul:nth-of-type(2) li:nth-last-of-type(1) {
        border: none;
    }

    .popup-image {
     display: none;  
    }
    .popup-links {
        width: 100%;
        flex-direction: column;
    }

    .header {
        flex-direction: column;
    }
    .logo {
        margin: 0 auto;
        height: 35px;
    }

    .links {
        margin: 0 auto;
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
 }
/* End of Popup */


/* Start of Panel-1 */
    /* panel-1 background and size */
.panel-1 {
    width: 100%;
    
    background-color: #ECECEC;
    position: relative;
}

.wave {
width: 100%;
margin:0;
border:none;
z-index: 4;
display: block;
}

    /* panel-1 content */
.panel-1-content {
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;   
}

.left-content {
    display: flex;
    margin-top: 100px;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
}

.left-content h1 {
    font-size: 46px;
    max-width: 100%;
}

.left-content p {
    font-size: 24px;
    max-width: 80%;
    transform: translateY(-50px);
}

.right-content  {
    display: flex;
    margin: 0;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    position: relative;
  }

.right-content img {
    width: 80%;
}

.right-content img {
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
}

@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}

.down-icon {
    position: absolute;
    color: #299AF3;
    font-size: 24px;
    left: 50%;
    bottom: 10%;
    z-index: 3;
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
}

/* Panel-1 Media Queries */

@media only screen and (max-width: 1200px) { 
    .panel-1 .container {
       width: 90%;
    }
    
}

@media only screen and (max-width: 732px) { 
    .panel-1 .container {
        width: 90%;
     }

     .panel-1-content {
        display: flex;
        flex-direction: column-reverse;
        padding-top: 100px;
     }

     .panel-1-content .right-content {
         width: 90%;
         margin-bottom: 0;
       
     }

     .right-content img {
         width: 100%;
         
     }

     .left-content {
         width: 100%;
     }

    .left-content h1 {
    font-size: 36px;
    max-width: 100%;
    text-align: center;
    margin-top: 0;
    }

    .left-content p {
        max-width: 100%;
        text-align: center;
        margin-top: 100px;
    }

    .down-icon {
        bottom: auto;
    }
}



/* End of panel-1 */

/* Start of panel-2 */


.panel-2 {
   background-color: #FFFFFF;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   align-content: center;
}

.heading-text {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 180px;
    height: 60px;
    margin: 0 auto;
    font-size: 40px;
    font-weight: 600;
    border: 3px solid black;
    padding:0 15px;
    position: relative;
}
.heading-text::after {
    content: '';
    width:  15px;
    height: 15px;
    border-radius: 50%;
    background-color: #299AF3;
    position: absolute;
    right: -2.5rem;
    top: 50%;
    transform: translateY(-50%);
}
.heading-text::before {
    content: '';
    width:  15px;
    height: 15px;
    border-radius: 50%;
    background-color: #299AF3;
    position: absolute;
    left: -2.5rem;
    top: 50%;
    transform: translateY(-50%);
}




.panel-2-items {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    background-color: #FFFFFF;
    margin-top: 100px;
}

.item-container {
    width: calc((100% - 120px)/4);
    height: 350px;
    background-color: #FFFFFF;
    -webkit-box-shadow: 0px -3px 21px -6px rgba(0,0,0,0.19);
    -moz-box-shadow: 0px -3px 21px -6px rgba(0,0,0,0.19);
    box-shadow: 0px -3px 21px -6px rgba(0,0,0,0.19);
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-direction: column;
    
}

@media only screen and (max-width: 1200px) { 
    .item-container {
        width: calc((100% - 120px)/2);
    }
}
@media only screen and (max-width: 732px) { 
    .item-container {
        width: 80%;
        margin: 0 auto;
    }
    .heading-text {
      
        margin-top: 50px;
        font-size: 40px;
      
    }

   .panel-3 .container {
        width: 100%;
    }

    .panel-2 .container {
        width: 100%;
    }
}
.item-container img {
    width: 100%;
    max-height:50%;
    transition: .3s;
    display: block;
    filter: blur(2px);
}

.item-container:hover img {
    transform: scale(1.1);
    filter: blur(0);
    /* transform: scale(1.2); */
}
.text-items {
    width: 100%;
    height: 35%;
   
    padding-bottom: 20px;
  
}

.text-items h3{
    font-size: 20px;
    margin: 0 20px;
}

.text-items p {
    font: 16px;
    margin: 0 20px;
    width: fit-content; 
    
}

#read-more {
    width: 100%;
    height: 50px;
    display: flex;
    gap: 50px;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    cursor:pointer;
    border-top: 1px solid #6866662a;
}

#read-more div {
    color: #299AF3;
    font-weight: 700;
}

#read-more .read-icon {
    color: #299AF3;
}


/* Start of Panel 3 */


.upper-background {
    width: 100%;
    height: 50px;
    overflow: hidden;
    margin-top: 80px;
    position: absolute;  
    top: -130px;
}

#triangle-up {
    
    display: inline;
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-right-width: 14px;
    border-left-width: 14px;
    border-bottom: 26px solid #ECECEC;
}
.panel-3 {
    background-color: #ECECEC;
    width: 100%;
    position: relative;
    margin-top: 80px;
    padding-top: 80px;
}

.panel-3-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap:50px;
    padding: 100px 0 ;
    
}

.computer-div  {
    width: calc((100% - 220px)/3) ;
    border: 20px solid white;
    margin:0;
    height: 350px;
    position: relative;
    overflow: hidden;
}

@media only screen and (max-width: 1200px) { 
    .computer-div {
        width: 40%;
    }
}
@media only screen and (max-width: 930px) { 
    .computer-div {
        width: 80%
    }
}
@media only screen and (max-width: 732px) { 
    .computer-div {
        width: 80%;
    }
}

.computer-div img {
    width: 100%;
    height: 350px;
    transition: .3s;
}

.computer-div:hover::before{
   animation: flash .5s;
}

.computer-div:hover img {
transform: scale(1.3) rotate(10deg);

}

.computer-div::before {
    content: '';
    width: 0;
    height: 0;
    opacity:.2 ;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%)translateY(-50%);
    transition: .3s;
    z-index: 3;
}


@keyframes flash {
    0%   {width: 0; height: 0;}
  100% {width: 100%;height: 100%;}
}


/* End of Panel 3 */



/* Start of Panel 4 */

.panel-4 {
    padding-top: 100px;
    background-color: #fafafa;
}

.features-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    grid-auto-flow: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 50px;
}

.features-item {
    border: 1px solid #6866662a;
    width: 100%;
    min-height: 700px;
    margin:100px 0;
    text-align: center;
    /* padding-bottom: 50px; */
}

.features-image-1 {
    overflow: hidden;
    position: relative;
    margin: 0;
    display: block;
}

.features-image-1::before {
    content: '';
    position: absolute;
    border-style: solid;
    border-color: transparent transparent #fafafa transparent;
    border-width: 0px 0px 110px 380px;
    bottom: 0;
    right: 0;
    z-index: 3;
}


.features-image-1::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: .7;
    background-color: rgb(131, 8, 8);
    z-index: 2;
}


.features-image-1 img {
    max-width: 100%;
    height: 40%;
    /* transform: skewX(45deg) skewY(0); */
}

.features-text-1 h2 {
    font-size: 42px;
    position: relative;
}

.features-text-1 {
    position: relative;
}

.features-text-1 h2::after {
    content: '';
    width: 120px;
    height: 5px;
    background-color: rgb(131, 8, 8);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.features-discription {
    font-size: 24px;
    font-weight: 400;
    opacity: .8;
}

.features-btn-1 {
    width: 100%;
   
}

.features-btn-1 p{
    text-align: center;
    font-size: 26px;
    color: rgb(131, 8, 8);
    border: 3px solid rgb(131, 8, 8);
    width: 100px;
    margin: 0 auto;
    margin-top: 40px;
    padding: 0 15px;
    border-radius: 7px;
    font-weight: 600;
    cursor: pointer;
}
.features-image-2 {
    overflow: hidden;
    position: relative;
    margin: 0;
    display: block;
}

.features-image-2::before {
    content: '';
    position: absolute;
    border-style: solid;
    border-color: transparent transparent #fafafa transparent;
    border-width: 0px 0px 110px 380px;
    bottom: 0;
    right: 0;
    z-index: 3;
}


.features-image-2::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: .7;
    background-color: #019484;
    z-index: 2;
}


.features-image-2 img {
    max-width: 100%;
    height: 40%;
    /* transform: skewX(45deg) skewY(0); */
}

.features-text-2 h2 {
    font-size: 42px;
    position: relative;
}

.features-text-2 {
    position: relative;
}

.features-text-2 h2::after {
    content: '';
    width: 120px;
    height: 5px;
    background-color: #019484;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}



.features-btn-2 {
    width: 100%;
   
}

.features-btn-2 p{
    text-align: center;
    font-size: 26px;
    color: #019484;
    border: 3px solid #019484;
    width: 100px;
    margin: 0 auto;
    margin-top: 40px;
    padding: 0 15px;
    border-radius: 7px;
    font-weight: 600;
    cursor: pointer;
}


.features-image-3 {
    overflow: hidden;
    position: relative;
    margin: 0;
    display: block;
}

.features-image-3::before {
    content: '';
    position: absolute;
    border-style: solid;
    border-color: transparent transparent #fafafa transparent;
    border-width: 0px 0px 110px 380px;
    bottom: 0;
    right: 0;
    z-index: 3;
}


.features-image-3::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: .7;
    background-color: #04A8F0;
    z-index: 2;
}


.features-image-3 img {
    max-width: 100%;
    height: 40%;
    /* transform: skewX(45deg) skewY(0); */
}

.features-text-3 h2 {
    font-size: 42px;
    position: relative;
}

.features-text-3 {
    position: relative;
}

.features-text-3 h2::after {
    content: '';
    width: 120px;
    height: 5px;
    background-color: #04A8F0;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}



.features-btn-3 {
    width: 100%;
  
}

.features-btn-3 p{
    text-align: center;
    font-size: 26px;
    color: #04A8F0;
    border: 3px solid #04A8F0;
    width: 100px;
    margin: 0 auto;
    margin-top: 40px;
    padding: 0 15px;
    border-radius: 7px;
    font-weight: 600;
    cursor: pointer;
}

@media screen and (max-width: 1200px) {
    .features-item {
        width: 90%;
        padding-bottom: 0;
    }    
}
@media screen and (max-width: 763px) {
    .features-item {
        margin: 100px auto;
        width: 90%;
        padding-bottom: 50px;
        
    }    
}
/* End of panel 4 */


/* Start of panel 5 */
.panel-5 {
    position: relative;
}

.upper-background-panel-5 {
    width: 100%;
    height: 50px;
    overflow: hidden;
    margin-top: 80px;
    position: absolute;  
    top: -130px;
}

.lower-background {
    width: 100%;
    background-color: #ECECEC;
    padding-top: 100px;
}

.testimonials-heading {
    width: 200px;
    padding: 0 30px;
}

.testmonails-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
    margin-top: 100px;
    padding-bottom: 100px;
}

.developer-box {
    width: calc((100% - 150px)/3);
    min-height: 200px;
    -webkit-box-shadow: 0px -3px 21px -6px rgba(0,0,0,0.19);
    -moz-box-shadow: 0px -3px 21px -6px rgba(0,0,0,0.19);
    box-shadow: 0px -3px 21px -6px rgba(0,0,0,0.19);
    padding: 20px 0;
    background-color: #fafafa;
    border-radius: 5px;
    z-index: 1;
}

.developer-box-content {
    margin: 0 20px;
    position: relative;
}

.developer-name  {
    width: 100%;
  
}

.developer-name h2 {
    margin: 0;

}

.developer-title {
    opacity: .6;
}


.developer-skills {
    width: fit-content;
    opacity: .6;
}

.developer-rating i {
    color: #FEC009;
}

.developer-image { 
    position: absolute;
    top: -23%;
    right: -9%;
    width: 80px;
    height: 80px;
    margin: 0;
    /* z-index: 3;  */
}

.developer-image::before {
    content: '';
    position: absolute;
    background-color: #ECECEC;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    z-index: 2;
    top: -13%;
    right: -9%;
    
}

.developer-image img {
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    z-index: 3;
    transition: .5s;
}

.developer-box:hover .developer-image img{
    transform: rotate(360deg);
}


/* panel-5 Media Queries */

@media only screen and (max-width: 1200px) { 
   .developer-box {
       width: calc((100% - 150px)/2);
       margin: 0 auto;
   }
    
}

@media only screen and (max-width: 763px) { 
    .panel-4   .container {
        width: 100%;
    }
    .developer-box {
        width: 100%;
    }
}

/* End of panel 5 */



/* Start of panel 6 */

.members-heading {
    width: 300px;
    margin-top: 100px;
}


.panel-6-content {
    display: flex;
    flex-direction: row;
    gap: 100px;
    margin-top: 100px;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 100px;
}



.panel-6-box {
    width: calc((93.3333% - 200px)/3);
    max-height: 400px;
    border-radius: 10px;
    -webkit-box-shadow: 0px -3px 21px -6px rgba(0,0,0,0.19);
    -moz-box-shadow: 0px -3px 21px -6px rgba(0,0,0,0.19);
    box-shadow: 0px -3px 21px -6px rgba(0,0,0,0.19);
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    padding-top:20px;
    background-color: #F3F3F3;
  
}

.upper-content {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 80%;
    position: relative;
    justify-content: center;
    align-items: center;
}

.upper-content .member-icons {
    display: flex;
    flex-direction: column;
    width: 10%;
    padding-right: 20px;
    gap: 30px;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    color: #787878;
}

.member-image {
    width:90%;
    height: 300px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.upper-content img {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    left: -20%;
    border-radius: 20px;
}

.lower-content {
    margin: 0;
}

.lower-content p{
    margin: 0 20px;
    padding-bottom: 30px;
}

.lower-content h2{
    margin: 0 20px;
    color: #299AF3;
}

.fa-facebook-f {
    transition: .3s;
    cursor: pointer;
}
.fa-facebook-f:hover {
    color: #3F62A9;
    transform: scale(1.2);
}

.fa-twitter {
    transition: .3s;
    cursor: pointer;
}

.fa-twitter:hover {
    color: #28A0D5;
    transform: scale(1.2);
}
.fa-linkedin-in {
    transition: .3s;
    cursor: pointer;
}
.fa-linkedin-in:hover {
    color: #13457B;
    transform: scale(1.2);
}


.fa-youtube {
    transition: .3s;
    cursor: pointer;
}
.fa-youtube:hover {
    color: #F20000;
    transform: scale(1.2);
}

/* panel 6 Media Queries */

@media screen and (max-width: 1200px) {
    .panel-6-box {
        width: calc((93.3333% - 200px)/2);
    }
}
@media screen and (max-width: 763px) {
    .panel-6-box {
        width: 80%;
        margin: 0 auto;
    }
    .members-heading {
        width: 60%;
        font-size: 34px;
    }
    
}

/* End of panel 6 */

/* Start of panel 7 */

.panel-7 {
    position: relative;
    background-color: #ECECEC;
    padding: 100px 0;
}

.services-heading {
    width: 10rem;
    height: 4rem;
}

.panel-7-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: space-between;
    align-items: center;
}

.services-box {
    width: calc((100% - 100px)/3);
    min-height: 250px;
    margin-top: 100px;
    background-color: #FFFFFF;
    -webkit-box-shadow: 0px -3px 21px -6px rgba(0,0,0,0.19);
    -moz-box-shadow: 0px -3px 21px -6px rgba(0,0,0,0.19);
    box-shadow: 0px -3px 21px -6px rgba(0,0,0,0.19);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.service-icon-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.service-icon i {
    font-size: 50px;
    margin: 0;
    color: #D5D5D5;
}

.service-name h2 {
    margin: 0;
    color: #28A0D5;
}

.service-bar {
    height: 50px;
    width: 100%;
    background-color: #F9F9F9;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.service-number {
    background-color: #2196F3;
    width: 20%;
    height: 50px;
    position: absolute;
    left: 0;
}

.service-number h2 {
    margin-left: 20px;
    font-size: 28px;
    color: white;
    font-weight: 700;
    position: absolute;
    top: -50%;
    left: -50%;
    transform: translateX(100%);
    
}

.service-number::before {
    content: '';
    border-style: solid;
    width: 200px;
    height: 50px;
    border-width: 80px 20px 0px 0px;
    border-color: #2196F3 transparent transparent transparent;
    height: 30px;
    position: absolute;
    right: -25%;
    z-index: -2;
}
.service-number::after {
    content: '';
    border-style: solid;
    width: 200px;
    height: 50px;
    border-width: 100px 30px 0px 0px;
    border-color: #E6E6E6 transparent transparent transparent;
    height: 30px;
    position: absolute;
    right: -100%;
    z-index: -3;
}

.details {
    z-index: 4;
    position: absolute;
    right: 10px;
    font-size: 18px;
    color: #28A0D5;
    font-weight: 600;
    cursor: pointer;
}

@media only screen and (max-width: 1200px) { 
  .services-box {
      width: calc((100% - 100px)/2);
  }
    
}

@media only screen and (max-width: 732px) { 

    .services-box {
        width: 100%;
       height: 300px;
    }

    .service-icon-name {
        margin-top: 30px;
    }

    .service-number h2 {
       
        transform: translateX(50%);
        
    }
}

/* End of panel 7 */

/* Start of panel 8 */

.skills-heading {
    margin: 100px auto;
}

.panel-8-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.panel-8-content .image {
    width: 50%;
    height: 100%;
}

.panel-8-content .image img {
    width: 60%;
    height: 60%;
}

.skills-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
}

.skills {
    display: flex;
    flex-direction: column;
    margin: 10px 0; 
}

.skill-row-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.skill-name {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 5px;
}

.skill-percentage p{
    font-size: 12px;
    font-weight: 700;
    color: #28A0D5;
    border: 2px solid #ececec;
    border-radius: 4px;
    padding: 0 5px;
    margin: 0;
}

/* Start of Skill Bars */

.skill-bar-1 {
    width: 100%;
    height: 30px;
    background-color: #ECECEC;
    position: relative;
}

.skill-bar-1::after {
    content: '';
    width: 80%;
    height: 30px;
    background-color: #28A0D5;
    position: absolute;
}
.skill-bar-2 {
    width: 100%;
    height: 30px;
    background-color: #ECECEC;
    position: relative;
}

.skill-bar-2::after {
    content: '';
    width: 85%;
    height: 30px;
    background-color: #28A0D5;
    position: absolute;
}
.skill-bar-3 {
    width: 100%;
    height: 30px;
    background-color: #ECECEC;
    position: relative;
}

.skill-bar-3::after {
    content: '';
    width: 70%;
    height: 30px;
    background-color: #28A0D5;
    position: absolute;
}
.skill-bar-4 {
    width: 100%;
    height: 30px;
    background-color: #ECECEC;
    position: relative;
}

.skill-bar-4::after {
    content: '';
    width: 80%;
    height: 30px;
    background-color: #28A0D5;
    position: absolute;
}


@media only screen and (max-width: 732px) { 
    .panel-8-content .image {
        display: none;
    }

    .panel-8-content .skills-container {
        width: 100%;
    }
}

/* End of Skill Bars */

/* End of panel 8 */


/* Start of panel 9 */

.panel-9 {
    position: relative;
    background-color: #ECECEC;
    padding-top: 100px;
}

.works-heading {
    width: 250px;
    font-size: 34px;
}

.panel-9-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 50;
    width: 70%;
    margin-top: 100px;
    padding-bottom: 100px;
}

.panel-9-content .image {
    width: 50%;
}

.panel-9-content .image img {
    width: 80%;
    height: 80%;
}

.panel-9-content .boxes {
    width: 50%;
}

.boxes {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.work-boxes {
    width: 100%;
    min-height: 200px;
    background-color: #F7F5F6;
    border: 2px solid white;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: .3s;
}

.work-boxes:hover {
    background-color: #d8d6d7;
}


.work-box-content {
    width: 70%;
    margin: 0 5%;
}

.work-box-image {
    width: 20%;
    height: 20%;
}

.work-box-image img {
    width: 80px;
    height: 80px;
    margin: 0 20%;
}

@media only screen and (max-width: 1200px) { 
   .panel-9-content {
       flex-direction: column;
       justify-content: center;
       transform: translateX(0);
   }

   .panel-9-content .image {
       width: 100%;
       margin: 0 auto;
   }
   .panel-9-content .boxes {
       width: 100%;
       margin-top: 50px;
   }
    
}

@media only screen and (max-width: 732px) { 
    .panel-9-content .image {
        display: none;
    }

    .panel-9-content .boxes {
        width: 100%;
    }

    .work-boxes {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .work-boxes .work-box-content {
        margin: 0;
        width: 90%;
        text-align: center;
    }

    .work-box-image   {
        display: flex;
        justify-content: center;
        width: 30%;
        height: 30%;
        margin-top: 20px;
    }
    .work-box-image img {
        width: 200%;
        height: 200%;
        /* margin: 0 auto; */
    }
}

/* End of panel 9 */


/* Start of panel 10 */

.panel-10 { 
    margin: 100px 0;
}

.news-heading {
    width: 250px;
}

.panel-10-content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 100px;
}

.news-image {
    width: 40%;
   
}


.news-image img {
    width: 100%;
}

.news-content {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.news-content .calender {
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.calender .calender-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 80px;
    height: 100px;
    border: 2px solid #ECECEC;
    border-radius: 6px;
}

.cal-number {
    font-size: 26px;
    text-align: center;
    color: #28A0D5;
    margin-top: 10px;
}

.cal-text {
    font-size: 18px;
    text-align: center;
    color: #535152;
    border-top: 2px solid #ECECEC;
}

.news-title h2 {
    text-align: center;
    font-size: 40px;
    margin: 0;
}

.news-description {
    font-size: 20px;
    text-align: center;
    color: #535152;
    font-weight: 400;
}

.subscribe {
    width: 40%;
    background-color: #F7F5F6;
    height: 120px;
   border-radius: 100px;
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:0 20px ;
}

.subscribe-input {
    width: 70%;
}

.subscribe-btn {
    width: 20%;
    border-radius: 100px;
    height: 70px;
    border: none; 
    background-color: #28A0D5;
    color: white;
    font-size: 18px;
    font-weight: 700;
    margin-left:50px;
    cursor: pointer;
}
.subscribe-input input{
    width: 100%;
    height: 70px;
    border-radius: 100px;
    border:none;
     outline: none;
     background-color: white;
    padding-left: 20px;
    font-size: 15px;
}

@media only screen and (max-width: 1200px) { 
    .subscribe {
        width: 60%;
    }
}

@media only screen and (max-width: 732px) { 
    .panel-10-content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
    .news-image {
        width: 300px;
        height: 300px;
        margin-top: 50px;
    }
    .news-content {
        width: 100%;
    }
    .news-title h2 {
        font-size: 24px;
    }
    .subscribe {
        width: 80%;
    }
    .subscribe-btn {
        width: 100px;
    }
}
/* End of panel 10 */

/* Start of panel 11 */

.panel-11 {
    position: relative;
    background-color: #ECECEC;
    padding-top: 100px;
    padding-bottom: 100px;  
}


.pricing-heading {
    width: 250px;
}

.panel-11-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 50px;
}

.pricing-box {
    width: calc((100% - 150px)/ 3);
    min-height: 600px;
    background-color: #FFFFFF;
    -webkit-box-shadow: 0px -3px 21px -6px rgba(0,0,0,0.19);
    -moz-box-shadow: 0px -3px 21px -6px rgba(0,0,0,0.19);
    box-shadow: 0px -3px 21px -6px rgba(0,0,0,0.19);
    margin-top: 100px;
    padding: 50px 0;
    transition: .5s;
    position: relative;
    z-index: 1;
}

.most {
    position: absolute;
    top: 0;
    right: 20px;
    width: 30px;
    writing-mode: vertical-rl;
    background-color: #2196F3;
    color: white;
    font-size: 18px;
    padding: 5px;
    font-weight: 700;
}

.most::before {
    content: '';
    position: absolute;
    right: 0px;
    top: 113px;
    border-width: 20px;
    border-style: solid;
    border-color: #2196F3 #2196F3 transparent;
}

.pricing-box:hover {
    transform: translateY(-40px);
}

.top {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40%;
    margin: 0;
    flex-direction: column;
    padding-bottom: 30px;
    position: relative;
    z-index: 1;
}


.top h2 {
   margin: 0;
   padding: 30px 0;
 
}

.top i {
    font-size: 80px;
    color: #2196F3;
    margin: 0;
}

.top .price {
    font-size: 70px;
    font-weight: 700;
    color: #2196F3;
    margin: 0;
    height: 80px;
}

.top p {
    color: #535152;

}


.mid {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 50%;
    flex-direction: column;
   
    /* padding: 30px 0; */
}

.mid i {
    color: #2196F3;
    margin: 0;
}

.pricing-details {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
    align-items: center;
    border-top: 1px #ececec solid;
    width:calc(100% - 20px);
    padding-left: 20px;
}

.bot {
    display: flex;
    justify-content: center; 
    margin: 0;
    height: 10%;
}

.bot button {
    width: 150px;
    height: 60px;
    border-radius: 10px;
    border:none;
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    background: #FFFFFF;
    color: #2196F3;
    border: 2px solid #2196F3;
}


@media only screen and (max-width: 1200px) { 
    .pricing-box {
       width: calc((100% - 50px)/ 2)
   }

    
}

@media only screen and (max-width: 732px) { 
    .pricing-box {
        width: 100%;
    }
    .pricing-box {
        height: 650px;
    }
}

/* End of panel 11 */

/* Start of panel 12 */

.videos-heading {
    margin: 100px auto;
    width: 200px;
}

.videos-box {
    display: flex;
    flex-direction: row;
    background-color: #E2E2E2;
    width: 100%;
    height: 700px;
    justify-content: space-between;
    margin-bottom: 100px;
}

.videos-names {
    width: 30%;
    height: 100%;
    background-color: #e2e2e2;

}

.top-videos {
    padding-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 15px;
    border: 1px solid #e2e2e260;
    height :calc((100% - 149px)/ 9);
    background-color: #F4F4F4;
}

.top-videos h2 {
    font-size: 16px;
    color: #2194F2;
    font-weight: 700;
}
.top-videos i {
    font-size: 16px;
    color: #2194F2;
    font-weight: 700;
}

.video-title { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 0;
    padding-left: 20px;
    border: 1px solid #e2e2e260;
    height: calc((100% - 149px)/ 8);
    background-color: white;
    transition: .5s;
    cursor: pointer;
}

.video-title:hover {
    background-color: #ececec;
}

.video-title:hover.video-title h2 {
    color: #2196F3;
}



.video-title h2 {
    margin: 10px 0;
    opacity: .9;
    font-weight: 400;
    font-size: 15px;
}
.video-title p {
    margin: 0;
    opacity: .6;
    font-size: 15px;
}

.videos-title h2 {
    font-size: 18px;
}

.videos-play {
    width: 70%;
    height: 100%;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.videos-play .video-image {
    width: 100%;
    height: 80%;
}

.video-text {
    background-color: #FFFFFF;
    margin-bottom: 20px;
    font-size: 18px;
    padding: 15px;
}

.videos-play .video-image img {
width: 100%;
height: 100%;
}


@media only screen and (max-width: 1200px) { 
 .panel-12-content .container {
     width: 70%;
 }
}

@media only screen and (max-width: 732px) { 
    .videos-names {
        width: 100%;
    }

    .videos-play {
        width: 95%;
    }
    
    .videos-box {
        height: 100%;
        width: 100%;
        flex-direction: column-reverse;
    }
}

/* End of panel 12 */

/* Start of panel 13 */


.top-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #F2F3F5;
    gap: 50px;
    padding-bottom: 100px;
}
.stats-title {
    margin-top: 100px;
    margin-bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 46px;
}

.stats {
    width: 200px;
    min-height: 145px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
    position: relative;
    overflow: hidden;
}

.stats::before {
    content: '';
    position: absolute;
    width: 3px;
    min-height: 267px;
    background-color: #2196F3;
    left: 0;
    bottom: -267px;
    transition: 2s;
}
.stats::after {
    content: '';
    position: absolute;
    width: 3px;
    min-height: 267px;
    background-color: #2196F3;
    right: 0;
    bottom: 267px;
    transition: 2s;
}

.stats:hover:before {
    animation: scroller-2 2s;
}

.stats:hover:after {
    animation: scroller 2s;
}


@keyframes scroller {
    100% {
      bottom: 0;
    }
  }
@keyframes scroller-2 {
    100% {
        bottom: 0;
    }
}

.stats p {
    margin: 0;
    font-size: 26px;
    color: #2194F2;
    font-style: italic;
}

.stats i {
    font-size: 32px;
}

.stats h2 {
    margin: 0;
    font-size: 46px;
}

.bot-content {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
}


.bot-content .left {
    width: 50%;
    height: 100%;
    background-color: #1885DA;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

.bot-content .left h1 {
    font-size: 46px;
    color: white;
   
}

.bot-content .left p {
    font-size: 18px;
    text-align: center;
    color: white;
    width: 50ch;
    line-height: 1.5;
    margin:0;
}

.bot-content .left img {
    width: 40%;
    height: 40%;
    margin: 0;
}

.bot-content .right {
    width: 50%;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.bot-content .right .discount-inputs {
    display: flex;
    flex-direction: column;
}
.bot-content .right input {
    width: 350px;
    border: none;
    outline: none;
    height: 50px;
    background-color: #F9F9F9;
    margin: 10px 0;
    padding-left: 20px;
    border-bottom: 1px solid #ccc;
}

.bot-content .right textarea {
    width: 350px;
    border: none;
    outline: none;
    height: 150px;
    background-color: #F9F9F9;
    margin: 10px 0;
    padding-left: 20px;
    resize: none;
    font-size: 16px;
    font-family: 'Cairo', sans-serif;
    border-bottom: 1px solid #ccc;
}

.bot-content .right h2 {
    margin: 0;
    font-size: 44px;
}

.bot-content .right button {
    width: 370px;
    height: 50px;
    background-color: #2196F3;
    font-size: 24px;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    transition: .5s;
}

.bot-content .right button:hover {
    background-color: #047bdd;
}

@media only screen and (max-width: 1200px) { 
    
}

@media only screen and (max-width: 732px) { 
    .bot-content {
        flex-direction: column;
        width: 100%;
   
    }

    .bot-content .left {
        width: 100%;
        min-height: 70vh;
    }
    .bot-content .left p {
        font-size: 24px;
        width: 25ch;  
    }
    .bot-content .left h1 {
        font-size: 36px;
        margin: 10px;
        color: white;
        width: 100%;
        text-align: center;
    }

    .bot-content .left img {
        width: 70%;
        height: 70%;
        margin: 0;
    }

    .bot-content .right {
        width: 100%;
        min-height: 70vh;
        margin: 0 auto;
        text-align: center;
    }

    .bot-content .right h2 {
        font-size: 38px;
    }
    
    .bot-content .right input{
        width: 300px;
      
    }
    .bot-content .right textarea{
        width: 300px;
      
    }
    .bot-content .right button{
        width: 322px;
      
    }
}

/* end of panel 13 */

/* Start of footer */

.footer {
    background-color: #191919;
    margin-top: 100px;
    padding: 50px;
    min-height: 300px;
    width: auto;
}



.footer-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.bio {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    width: calc((100% - 50px)/ 3);
}

.bio h1 {
    margin: 0;
    color: white;
}

.bio div {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.bio div i {
    width: 50px;
    height: 50px;
    font-size: 24px;
    color: white;
    background-color: #313131;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.bio p {
    color: white;
}

/* Break */

.important-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc((100% - 50px)/ 3);
}

.important-links div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    transition: .3s;
    cursor: pointer;
}

.important-links div:hover {
    transform: translateX(15px);
}

.important-links div i {
    color: #2194F2;
}
.important-links div p {
    color: white;
}

/* Break */

.information {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: calc((100% - 50px)/ 3);
}

.information div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.information div i {
    font-size: 26px;
    color: #2194F2;
}

.information div p {
    font-size: 16px;
    color: white;
}

.last-div {
    width:100%;
    background-color: #191919;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-top: 1px solid #e2e2e226;
    color: white;
}

.last-div i {
    margin: 0 5px;
    color: red;
}

@media only screen and (max-width: 1200px) { 
    .footer-content {
        width: 100%;
    }
}
    


@media only screen and (max-width: 732px) { 
    .footer {
        min-height: 150vh;
        display: flex;
        align-items: center;
        align-content: center;
        padding-bottom: 0;
        justify-content: center;
    }
    .footer-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        margin: 0;
        margin-top: 300px;
        gap: 50px;
    }
    .bio {
        width: 100%;
        align-items: center;
    }

    .bio p {
        text-align: center;
    }

    .important-links {
        width: 100%;
    }
    .information {
        width: 100%;
    }
    .information div {
        width: 100%;
        flex-direction: column;
        text-align: center;
    }
}

